langchain
langchain-community
langchain-text-splitters
langchain-ollama
chromadb
pypdf
langchain-chroma
langgraph
duckduckgo-search
langchain-openai
tavily-python
python-dotenv
rank_bm25
langchain_experimental
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
pyjwt
python-multipart
email-validator
